*{
    margin: 0px;
    padding: 0px;
    color: white;
}

#nivebar{
    height: 60px;
    background-color:rgb(22, 22,22);
    border-color:rgb(9, 236, 107);
    border-width: 5px;
    border-style:solid;
}
button{
    background-color: #f08804;

}
#loge{
    font-size: 25px;
    color: #f08804;
   
}
a {
    margin-right: 190px;
}
#text{
    color: black;
    text-align: center;
}

.box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}
